.intro-container{
    width: 100%;
    height: 40rem;
    background-image: url(../../assets/ricardo-resende-Vq3B58_XgjQ-unsplash_1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.intro-flex{
    display: flex;
    height: 40rem;
    align-content: center;
    justify-content: space-evenly;
}

.greeting{
    width: 35%;
    display: grid;
}

.img-container{
    display: flex;
    align-items: center;
 }


.img-of-me{
    max-height: 30rem;
    width: auto;
    border: 6px solid white;
}



.short-introduction h1{
    font-size: 3em;
    margin-bottom: 0;
    color: #FFC26F;
}

.me{
    color: #e7ac54;
}

.short-introduction span{
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: #8FC1D4;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.8rem;
    
}

.link{
    padding-right: 2%;
}

.link:hover{
    cursor: pointer;
    color: white;
}

.short-introduction p{
    font-size: 1.4em;
    color: #F9E0BB;
    -webkit-text-fill-color: #F9E0BB; /* Will override color (regardless of order) */
    -webkit-text-stroke: 0.1px white;
}

.button-container{
    display: inline-block;
   
}

.about-button{
    color: #e7ac54;
    background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-decoration: underline;
    text-decoration-color: #8FC1D4;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.8rem;
    width: 150px;
}

.close{
    width: 120px;
}

.about-button img{
    padding-left: 5px;
}

.about-button:hover{
    color: white!important;
}

.long-introduction{
    text-align: justify;
}


@media screen and (max-width: 1149px ) {
    
   .short-introduction h1 {
        font-size: 2em;

    }
    

}

@media screen and (max-width: 920px ) {
    
     .greeting {
        width: 45%;
     }
     
  
     .img-of-me {
        height: 25rem;
     }
 
 }

 @media screen and (max-width: 768px ) {
 
.intro-container{
    height: auto;
}   
    
.intro-flex{
    flex-direction: column-reverse; 
    height: auto;  
}

.greeting {
    width: 100%;
    text-align: center;
}

.img-container{
    justify-content: center;
    padding-top: 20px;
}
 
 }

 
@media screen and (max-width: 450px) { 

    .link{
        padding-right: 5%;
    }
    
    .about-button{
        width: 110px;
    }
    
    .intro-flex{
        height: 75rem;
    }

} 