.language-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    width: 80%;
    margin: auto;
}

.language {
    width: 25%;
}

.language p{
    font-size: 2.2em;
    color: #e7ac54;
}