.project-card {
display: inline-block;
text-align: center;
width: 32rem;
height: auto;
margin: 5%;
}

.background-img{
    width: 32rem;
    height: 20rem;
    margin: auto;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

h5{
    display: inline-block;
}

.website{
    margin-right: 3%;
}