.intro-body{
    text-align: justify;
    height: 20rem;
}



.item {
    width: 90%;
    height: auto;
    margin: 0;
    font-size: 1rem;
    /* text-shadow: 3px 2px #000000; */
    color: #F9E0BB;
    -webkit-text-fill-color: #F9E0BB; /* Will override color (regardless of order) */
    -webkit-text-stroke: 0.1px white;
}

@media screen and (max-width: 768px  ) {
    
    .item {
 width: 96%;
 padding: 2%;
     }

 }

